$border: 1px solid rgb(141, 28, 28);

.box-scss {
    padding: 1rem;
    background-color: lightgreen;
    border: $border;
    border-radius: 8px;
    h2 {
        text-align: left;
        color: rgb(161, 123, 53);
        text-transform: lowercase;
    }
}
