@import '~normalize.css';
/* it is important here to use tilde */
@import 'raleway.css';

.wrapper {
    font-family: 'Raleway';
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 1000px;
}

h1 {
    text-align: center;
    color: chocolate;
}

.maya {
    /* background-image: url(../assets/maya.jpg);
    background-size: cover; */
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.maya img {
    max-width: 100%;
    max-height: 100%;
}
.orange {
    color: orangered;
}
