@font-face {
    font-family: 'brush';
    src: url(./Brush.woff) format(woff), url(./Brush.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}

.pink {
    color: hotpink;
    font-family: 'brush';
    background: url(./maya.jpg);
}
